@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.syntax-highlight {
  color: white;
  background-color: black;
  padding: 5px 10px;
}
.syntax-highlight > .key {
  color: #ffbf35;
}
.syntax-highlight > .string {
  color: #5dff39;
}
.syntax-highlight > .number {
  color: #70aeff;
}
.syntax-highlight > .boolean {
  color: #b993ff;
}

.custom-navbar {
  background-color: #AB162B;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1030;
}

.btn-custom {
  background-color: #AB162B;
  margin-top: 5px;
  color: white;
}

.custom-pagination .page-item .page-link {
  background-color: #AB162B;
  color: #ffffff;
  border-color: #AB162B;
}

.custom-pagination .page-item.active .page-link {
  background-color: #AB162B;
  border-color: #AB162B;
}

.badge-primary {
  background-color: #AB162B;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.625rem;
}

html, body {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex: 1;
  margin-top: 56px; /* Altura do header */
}

.b-sidebar-outer {
  position: fixed;
  top: 56px; /* Começa abaixo do header */
  left: 0;
  width: 250px;
  height: calc(100vh - 56px); /* Altura total menos o header */
  z-index: 1000;
  transition: transform 0.3s ease;
}

.b-sidebar-outer:not(.open) {
  transform: translateX(-100%);
}

.b-sidebar-outer.open {
  transform: translateX(0);
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Largura do sidebar quando aberto */
  padding: 20px;
  min-height: calc(100vh - 56px); /* Altura total menos o header */
  padding-bottom: 60px; /* Espaço para o footer */
  transition: margin-left 0.3s ease;
  width: calc(100% - 250px); /* Garante que o conteúdo ocupe o espaço restante */
}

.b-sidebar-outer:not(.open) + .main-content {
  margin-left: 0;
  width: 100%; /* Ocupa toda a largura quando o sidebar está fechado */
}

@media (max-width: 768px) {
  .b-sidebar-outer {
    transform: translateX(-100%);
  }

  .b-sidebar-outer.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
    width: 100%; /* Em telas menores, o conteúdo começa ocupando toda a largura */
  }

  .b-sidebar-outer.open + .main-content {
    margin-left: 250px;
    width: calc(100% - 250px); /* Empurra o conteúdo quando o sidebar está aberto */
  }
}

.custom-footer {
  background-color: #AB162B;
  color: #ffffff;
  font-size: 0.643rem;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}