

/*  Colours for Syntax Highlighted pre's */
.syntax-highlight {color:white;background-color:black;padding:5px 10px;}
.syntax-highlight > .key {color:#ffbf35}
.syntax-highlight > .string {color:#5dff39;}
.syntax-highlight > .number {color:#70aeff;}
.syntax-highlight > .boolean {color:#b993ff;}
.custom-navbar {background-color: #AB162B;}
.btn-custom {background-color: #AB162B;margin-top: 5px;color: white;}
.custom-pagination .page-item .page-link {
  background-color: #AB162B;
  color: #ffffff;
  border-color: #AB162B;
}
.custom-pagination .page-item.active .page-link {
  background-color: #AB162B;
  border-color: #AB162B;
}
.badge-primary {
  background-color: #AB162B;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column; /* Layout em coluna */
  min-height: 100vh; /* Garante que ocupa 100% da altura da janela */
}

.main-content {
  flex: 1; /* Faz o conteúdo crescer para ocupar o espaço restante */
}

.custom-footer {
  background-color: #AB162B; /* Cor semelhante ao header */
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
}
